
<div class="background-video">
  <video id="background-video" class="video-background" autoplay loop src=<%= video_path("abstract_digital_balls.mp4") %> type="video/mp4">
  </video>
  <%= image_tag("abstract_digital_balls.gif", id: 'fallback-image') %>
  <h1>Life on Web Development.</h1>
  <h5>Another software blog.</h5>

  <div class="enter-container">
    <div class="button-panel">
      <%= link_to "", '/posts', class: "top-arrow"  %>
      <%= link_to "Enter", '/posts', class: "enter-text"  %>
      <%= link_to "", '/posts', class: "bottom-arrow"  %>
    </div>
  </div>
</div>




